body{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-container {
    max-width: 400px;
    margin-bottom: 20px;
}
.user-info {
    background-color: #daabab;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

   
   
    